<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Natural Disaster</title>
    <link href="/static/index.css" rel="stylesheet" type="text/css" media="only screen" />
</head>

<body>

    <div class="topnav" id="myTopnav">
        <a href="/templates/index.html" class="active">Home</a>
        <a href="/templates/contact.html">Contact</a>
        <!-- <a href="#Types of Disasters">Types of Disasters</a> -->
        <div class="dropdown">
            <button class="dropbtn">Types of Disasters
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/templates/earthquake.html">Earthquake</a>
                <a href="/templates/flood.html">Flood</a>
                <a href="/templates/landslides.html">Landslides</a>
                <a href="/templates/cyclones.html">Cyclones</a>
                <a href="/templates/tsunami.html">Tsunami</a>
            </div>
        </div>
        <a href="/templates/predict.html">Predict</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
    </div>
    <div class="Container">
        <header>
            <span>Cyclones </span>
        </header>
        <nav>
        </nav>
        <div class="content">
            <br>
            <section class="main_articles">

                <article class="NaturalDisaster">
                    <div class='des2'>
                        <br>
                        <h2>What causes cyclones?</h2><br>
                        Cyclones are caused by atmospheric disturbances around a low-pressure area distinguished by
                        swift and often destructive air circulation. Cyclones are usually accompanied by violent storms
                        and bad weather. The air circulates inward in an anticlockwise direction in the Northern
                        hemisphere and clockwise in the Southern hemisphere. Cyclones are classified as: (i) extra
                        tropical cyclones (also called temperate cyclones); and (ii) tropical cyclones. The word Cyclone
                        is derived from the Greek word Cyclos meaning the coils of a snake. It was coined by Henry
                        Peddington because the tropical storms in the Bay of Bengal and the Arabian Sea appear like
                        coiled serpents of the sea.
                        <br>
                        <h2>Do's and Don'ts</h2>
                        <strong>1. Before the Cyclone season:</strong>
                        <br>
                        <br>
                        <ul>
                            <li> Check the house; secure loose tiles and carry out repairs of doors and windows there are signs of structural defects.</li>
                            <li>Keep some wooden boards ready so that glass windows can be boarded if needed</li>
                            <li>Keep a hurricane lantern filled with kerosene, battery operated torches and enough dry cells</li>
                            <li>Demolish condemned buildings</li>
                            <li>Keep some extra batteries for transistors.</li>
                            <li>Keep some dry non-perishable food always ready for use in emergency</li>
                        </ul>
                        <br>
                        <br>
                        <strong>2. Necessary actions </strong>
                        <br>
                        <br>
                        <p>The actions that need to be taken in the event of a cyclone threat can broadly be divided into :</p>
                        <ul>
                            <li>Immediately before the cyclone season</li>
                            <li>When cyclone alerts and warnings are communicated </li>
                            <li>When evacuations are advised</li>
                            <li>When the cyclone has crossed the coast</li>
                        </ul>
                        <br>
                        <br>
                        <strong>3. When the Cyclone starts</strong>
                        <br>
                        <br>
                        <ul>
                            <li> Listen to the radio (All India Radio stations give weather warnings).</li>
                            <li> Keep monitoring the warnings. This will help you prepare for a cyclone emergency.</li>
                            <li> Pass the information to others.</li>
                            <li>Ignore rumours and do not spread them; this will help to avoid panic situations.</li>
                            <li>Believe in the official information.</li>
                            <li>When a cyclone alert is on for your area continue normal working but stay alert to the radio warnings.</li>
                            <li>Stay alert for the next 24 hours as a cyclone alert means that the danger is within 24 hours.</li>
                        </ul>
                        <br>
                        <br>
                        <strong>4. When your area is under cyclone warning get away from low-lying beaches or other low-lying areas close to the coast </strong>
                        <br>
                        <br>
                        <ul>
                            <li>Leave early before your way to high ground or shelter gets flooded. </li>
                            <li>Do not delay and run the risk of being marooned</li>
                            <li>Board up glass windows or put storm shutters in place.</li>
                            <li>Provide strong suitable support for outside doors.</li>
                            <li>If you have to evacuate the house move your valuable articles to upper floors to minimize flood damage.</li>
                            <li>Ensure that your hurricane lantern, torches or other emergency lights are in working condition and keep them handy.</li>
                            <li>Make provision for children and adults requiring special diet.</li>
                        </ul>
                        <br>
                        <br>
                        <strong>5. During a cyclone</strong>
                        <br>
                        <br>
                        DO NOT venture out even when the winds appear to calm down. The 'eye' of the cyclone might be passing. Winds might intensify and gush again and cause damage. Be safe inside till it is officially announced that the cyclone has passed.
                        <h2>Emergency Kit</h2>
                        <ul>
                            <li>Battery operated torch with extra batteries.</li>
                            <li>Battery operated radio.</li>
                            <li>First aid kit and manual.</li>
                            <li>Emergency food (dry items) and water (packed and sealed).</li>
                            <li>Knife.</li>
                            <li>Chlorine tablets or powdered water purifiers.</li>
                        </ul>
                        <br>
                    </div>
                </article>
            </section>

            <aside class="side_article">
                <div class="ads">
                    <img src="/static/Images/pexels-mali-maeder-54257.jpg" alt="This is advertisment" height="150px"
                        width="90%">
                    <p>Advertisment 1</p>
                </div>
                <br>
                <br>
                <br>
                <br>
                <div class="ads">
                    <img src="/static/Images/pexels-sevenstorm-juhaszimrus-704767.jpg" alt="This is advertisment"
                        height="150px" width="90%">
                    <p>Advertisment 2</p>
                </div>
            </aside>
        </div>
        <footer>
        </footer>
    </div>

</body>

</html>