<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Natural Disaster</title>
    <link href="/static/index.css" rel="stylesheet" type="text/css" media="only screen" />
</head>

<body>

    <div class="topnav" id="myTopnav">
        <a href="/templates/index.html" class="active">Home</a>
        <a href="/templates/contact.html">Contact</a>
        <!-- <a href="#Types of Disasters">Types of Disasters</a> -->
        <div class="dropdown">
            <button class="dropbtn">Types of Disasters
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/templates/earthquake.html">Earthquake</a>
                <a href="/templates/flood.html">Flood</a>
                <a href="/templates/landslides.html">Landslides</a>
                <a href="/templates/cyclones.html">Cyclones</a>
                <a href="/templates/tsunami.html">Tsunami</a>
            </div>
        </div>
        <a href="/templates/predict.html">Predict</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
    </div>
    <div class="Container">
        <header>
            <span>Earthquake </span>
        </header>
        <nav>
        </nav>
        <div class="content">
            <br>
            <section class="main_articles">

                <article class="NaturalDisaster">
                    <div class='des2'>
                        <br>
                        <h2>Earthquake Risks in India</h2><br>
                        An earthquake is a phenomenon that occurs without warning and involves violent shaking of the ground and everything over it. It results from the release of accumulated stress of the moving lithospheric or crustal plates. The earth's crust is divided into seven major plates, that are about 50 miles thick, which move slowly and continuously over the earth's interior and several minor plates. Earthquakes are tectonic in origin; that is the moving plates are responsible for the occurrence of violent shakes. The occurrence of an earthquake in a populated area may cause numerous casualties and injuries as well as extensive damage to property.
                        <br>
                        <h2>Do's and Don'ts</h2>
                        <strong>1. What to Do Before an Earthquake </strong>
                        <br>
                        <br>
                        <ul>
                            <li>Repair deep plaster cracks in ceilings and foundations. Get expert advice if there are signs of structural defects.</li>
                            <li>Anchor overhead lighting fixtures to the ceiling.</li>
                            <li>Follow BIS codes relevant to your area for building standards</li>
                            <li>Fasten shelves securely to walls.</li>
                            <li>Place large or heavy objects on lower shelves.</li>
                            <li>Store breakable items such as bottled foods, glass, and china in low,
                            <li>closed cabinets with latches.</li>
                            <li>Hang heavy items such as pictures and mirrors away from beds, settees, and anywhere that people sit.</li>
                            <li>Brace overhead light and fan fixtures.</li>
                        </ul>
                        <br>
                        <br>
                        <strong>2. Develop an emergency communication plan </strong>
                        <br>
                        <br>
                        <ul>
                        <li>In case family members are separated from one another during an earthquake, develop a
                            plan for reuniting after the disaster.</li>
                            <li>Ask an out-of-state relative or friend to serve as the 'family contact' after the disaster;it is often easier to call long distance. </li>
                            <li>Make sure everyone in the family knows the name,address, and phone number of the contact person.</li>
                        </ul>
                        <br>
                        <br>
                        <strong>3. Help your community get ready
                        </strong>
                        <br>
                        <br>
                        <ul>
                            <li> Publish a special section in your local newspaper with emergency information on earthquakes.</li>
                            <li> Localize the information by printing the phone numbers of local emergency services offices and
                            hospitals.</li>
                            <li> Conduct week-long series on locating hazards in the home.</li>
                            <li>Work with local emergency services and officials to prepare special reports for people with mobility impairment on what to do during an earthquake.</li>
                            <li>Provide tips on conducting earthquake drills in the home.</li>
                            <li>Interview representatives of the gas, electric, and water companies about shutting off
                            utilities.</li>
                            <li>Work together in your community to apply your knowledge to building codes, retrofitting
                            programmes, hazard hunts, and family emergency plans.</li>
                        </ul>
                        <br>
                        <br>
                        <strong>4. What to Do During an Earthquake. </strong>
                        <br>
                        <br>
                        <ul>
                            <li>Stay as safe as possible during an earthquake. </li>
                            <li>Be aware that some earthquakes are actually foreshocks and a larger earthquake might occur.
                            </li>
                            <li>Minimize your movements to a few steps that reach a nearby safe place and stay indoors until the shaking has stopped and you are sure exiting is safe.</li>
                        </ul>
                        <br>
                        <br>
                        <h2>Emergency Kit</h2>
                        <ul>
                            <li>Battery operated torch with extra batteries.</li>
                            <li>Battery operated radio.</li>
                            <li>First aid kit and manual.</li>
                            <li>Emergency food (dry items) and water (packed and sealed).</li>
                            <li>Knife.</li>
                            <li>Chlorine tablets or powdered water purifiers.</li>
                        </ul>
                        <br>
                    </div>
                </article>
            </section>

            <aside class="side_article">
                <div class="ads">
                    <img src="/static/Images/pexels-mali-maeder-54257.jpg" alt="This is advertisment" height="150px"
                        width="90%">
                    <p>Advertisment 1</p>
                </div>
                <br>
                <br>
                <br>
                <br>
                <div class="ads">
                    <img src="/static/Images/pexels-sevenstorm-juhaszimrus-704767.jpg" alt="This is advertisment"
                        height="150px" width="90%">
                    <p>Advertisment 2</p>
                </div>
            </aside>
        </div>
        <footer>
        </footer>
    </div>

</body>

</html>