<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Natural Disaster</title>
    <link href="/static/index.css" rel="stylesheet" type="text/css" media="only screen" />
</head>
<body>
        
    <div class="topnav" id="myTopnav">
        <a href="/templates/index.html" class="active">Home</a>
        <a href="/templates/contact.html">Contact</a>
        <!-- <a href="#Types of Disasters">Types of Disasters</a> -->
        <div class="dropdown">
          <button class="dropbtn">Types of Disasters
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/templates/earthquake.html">Earthquake</a>
            <a href="/templates/flood.html">Flood</a>
            <a href="/templates/landslides.html">Landslides</a>
          </div>
        </div>
        <a href="#Predict">Predict</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
    </div>
    <div class="Container">
            <header>
                <span>Earthquake </span>
            </header>
            <nav>
            </nav>
            <div class="content">
                <br>
                <section class="main_articles">

                    <article class = "NaturalDisaster">
                        <div class = 'des2'>
                            <br>
                            <h2>Earthquake Risks in India</h2><br>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique aperiam provident porro dicta non, sunt ipsum voluptatum nesciunt quas nihil, ut est aliquid iste saepe magnam natus rerum neque eos veniam rem alias, suscipit laboriosam quasi? Perferendis quia voluptatibus nisi ducimus eius natus, ipsam dolores eum illum obcaecati, nam quaerat eaque esse, recusandae animi fugiat ut harum deleniti explicabo? Rem exercitationem ea delectus voluptatem blanditiis magnam rerum? Illo consequatur officia unde sint tenetur magnam nesciunt ratione voluptas assumenda praesentium ipsa voluptates odit accusantium similique asperiores cumque reiciendis deserunt, et veritatis eveniet hic nam! Ad, omnis? Nam ex saepe deleniti molestias.
                            <br>
                            <h2>Do's and Don'ts</h2>
                            <strong>1. Lorem, ipsum. </strong>
                            <br>
                            <br>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quis esse ipsum tempora aperiam quasi minima neque. Ullam, exercitationem? Nobis velit veritatis molestias pariatur! Maiores libero quasi fugit sed minus iusto quod distinctio nesciunt. Quo corrupti itaque illo sunt mollitia?
                            <br>
                            <br>
                            <strong>2. Lorem ipsum dolor sit amet. </strong>
                            <br>
                            <br>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quis esse ipsum tempora aperiam quasi minima neque. Ullam, exercitationem? Nobis velit veritatis molestias pariatur! Maiores libero quasi fugit sed minus iusto quod distinctio nesciunt. Quo corrupti itaque illo sunt mollitia?
                            <br>
                            <br>
                            <strong>3. Lorem, ipsum dolor. </strong>
                            <br>
                            <br>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quis esse ipsum tempora aperiam quasi minima neque. Ullam, exercitationem? Nobis velit veritatis molestias pariatur! Maiores libero quasi fugit sed minus iusto quod distinctio nesciunt. Quo corrupti itaque illo sunt mollitia?
                            <br>
                            <br>
                            <strong>4. Lorem, ipsum. </strong>
                            <br>
                            <br>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quis esse ipsum tempora aperiam quasi minima neque. Ullam, exercitationem? Nobis velit veritatis molestias pariatur! Maiores libero quasi fugit sed minus iusto quod distinctio nesciunt. Quo corrupti itaque illo sunt mollitia?
                            <br>
                            <br>
                            <strong>5. Lorem ipsum dolor sit. </strong>
                            <br>
                            <br>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quis esse ipsum tempora aperiam quasi minima neque. Ullam, exercitationem? Nobis velit veritatis molestias pariatur! Maiores libero quasi fugit sed minus iusto quod distinctio nesciunt. Quo corrupti itaque illo sunt mollitia?
                            <br>
                            <br>
                            <h2>Emergency Kit</h2>
                            <ul>
                                <li>Lorem ipsum dolor sit amet.</li>
                                <li>Lorem ipsum dolor sit amet.</li>
                                <li>Lorem ipsum dolor sit amet.</li>
                                <li>Lorem ipsum dolor sit amet.</li>
                                <li>Lorem ipsum dolor sit amet.</li>
                                <li>Lorem ipsum dolor sit amet.</li>
                            </ul>
                            <br>
                        </div>
                    </article>
                </section>

                <aside class="side_article">
                    <div class="ads">
                        <img src="/Images/pexels-mali-maeder-54257.jpg" alt="This is advertisment" height="150px" width="90%">
                        <p>Advertisment 1</p>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="ads">
                        <img src="/Images/pexels-sevenstorm-juhaszimrus-704767.jpg" alt="This is advertisment" height = "150px" width = "90%">
                        <p>Advertisment 2</p>
                    </div>
                </aside>
            </div>
            <footer>
            </footer>
        </div>

</body>
</html>