<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Natural Disaster</title>
    <link href="/static/index.css" rel="stylesheet" type="text/css" media="only screen" />
</head>

<body>

    <div class="topnav" id="myTopnav">
        <a href="/home" class="active">Home</a>
        <a href="/contact">Contact</a>
        <!-- <a href="#Types of Disasters">Types of Disasters</a> -->
        <div class="dropdown">
            <button class="dropbtn">Types of Disasters
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/earthquake">Earthquake</a>
                <a href="/flood">Flood</a>
                <a href="/landslides">Landslides</a>
                <a href="/cyclones">Cyclones</a>
                <a href="/tsunami">Tsunami</a>
            </div>
        </div>
        <a href="/predict">Predict</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
    </div>
    <div class="Container">
        <header>
            <span>Floods </span>
        </header>
        <nav>
        </nav>
        <div class="content">
            <br>
            <section class="main_articles">

                <article class="NaturalDisaster">
                    <div class='des2'>
                        <br>
                        <h2>Risks of Flood in India</h2><br>
                        India is highly vulnerable to floods. Out of the total geographical area of 329 million hectares (mha), more than 40 mha is flood prone. Floods are a recurrent phenomenon, which cause huge loss of lives and damage to livelihood systems, property, infrastructure and public utilities. It is a cause for concern that flood related damages show an increasing trend. The average annual flood damage in the last 10 years period from 1996 to 2005 was Rs. 4745 crore as compared to Rs. 1805 crore, the corresponding average for the previous 53 years. This can be attributed to many reasons including a steep increase in population, rapid urbanization growing developmental and economic activities in flood plains coupled with global warming.
                        <br>
                        An average every year, 75 lakh hectares of land is affected, 1600 lives are lost and the damage caused to crops, houses and public utilities is Rs.1805 crores due to floods. The maximum number of lives (11,316) was lost in the year 1977. The frequency of major floods is more than once in five years.
                        <br>
                        <h2>Do's and Don'ts</h2>
                        <strong>1. What to do before a flood </strong>
                        <br>
                        <br>
                        To prepare for a flood, you should:
                        <ul>
                            <li>Avoid building in flood prone areas unless you elevate and reinforce your home.</li>
                            <li>Elevate the furnace, water heater, and electric panel if susceptible to flooding.</li>
                            <li>Contact community officials to find out if they are planning to construct barriers (levees, beams and floodwalls) to stop floodwater from entering the homes in your area.</li>
                            <li>Seal the walls in your basement with waterproofing compounds to avoid seepage..</li>
                        </ul>
                        <br>
                        <br>
                        <strong>2. If a flood is likely to hit  your area, you should:</strong>
                        <br>
                        <br>
                        <ul>
                            <li>Listen to the radio or television for information.</li>
                            <li>Be aware that flash flooding can occur. If there is any possibility of a flash flood, move immediately to higher ground. Do not wait for instructions to move. </li>
                            <li>Be aware of streams, drainage channels, canyons, and other areas known to flood suddenly. Flash floods can occur in these areas with or without such typical warnings as rain clouds or heavy rain.</li>
                        </ul>
                        <br>
                        <br>
                        <strong>3. If you must prepare to evacuate, you should:
                        </strong>
                        <br>
                        <br>
                        <ul>
                            <li> Secure your home. If you have time, bring in outdoor furniture. Move essential items to an upper floor.</li>
                            <li> Turn off utilities at the main switches or valves if instructed to do so. Disconnect electrical appliances. Do not touch electrical equipment if you are wet or standing in water.</li>
                        </ul>
                        <br>
                        <br>
                        <strong>4. If you have to leave your home, remember these evacuation tips: </strong>
                        <br>
                        <br>
                        <ul>
                            <li>Do not walk through moving water. Six inches of moving water can make you fall. If you have to walk in water, walk where the water is not moving. Use a stick to check the firmness of the ground in front of you. </li>
                            <li>Do not drive into flooded areas. If floodwaters rise around your car, abandon the car and move to higher ground if you can do so safely. You and the vehicle can be quickly swept away.</li>
                        </ul>
                        <br>
                        <br>
                        <h2>Emergency Kit</h2>
                        <ul>
                            <li>Battery operated torch with extra batteries.</li>
                            <li>Battery operated radio.</li>
                            <li>First aid kit and manual.</li>
                            <li>Emergency food (dry items) and water (packed and sealed).</li>
                            <li>Knife.</li>
                            <li>Chlorine tablets or powdered water purifiers.</li>
                        </ul>
                        <br>
                    </div>
                </article>
            </section>

            <aside class="side_article">
                <div class="ads">
                    <img src="/static/Images/pexels-mali-maeder-54257.jpg" alt="This is advertisment" height="150px"
                        width="90%">
                    <p>Advertisment 1</p>
                </div>
                <br>
                <br>
                <br>
                <br>
                <div class="ads">
                    <img src="/static/Images/pexels-sevenstorm-juhaszimrus-704767.jpg" alt="This is advertisment"
                        height="150px" width="90%">
                    <p>Advertisment 2</p>
                </div>
            </aside>
        </div>
        <footer>
        </footer>
    </div>

</body>

</html>
