<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Natural Disaster</title>
    <link href="/static/index.css" rel="stylesheet" type="text/css" media="only screen" />
    <script type = "text/javascript">
        function goToNewPage()
        {
            var url = document.getElementById('list').value;
            if (url != 'none'){
                window.location = url;
            }
        }
    </script>
</head>
<body>
    <div class = ''>
        <div class="topnav" id="myTopnav">
            <a href="/templates/index.html" class="active">Home</a>
            <a href="/templates/contact.html">Contact</a>
            <!-- <a href="#Types of Disasters">Types of Disasters</a> -->
            <div class="dropdown">
            <button class="dropbtn">Types of Disasters
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/templates/earthquake.html">Earthquake</a>
                <a href="/templates/flood.html">Flood</a>
                <a href="/templates/landslides.html">Landslides</a>
            </div>
            </div>
            <a href="/templates/predict.html">Predict</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
        <div class="Container">
                <header>
                    <span>Natural Disaster In India </span>
                </header>
                <nav>
                </nav>
                <div class="content">
                    <br>
                    <section class="main_articles">
                        <article class="Description">
                            <div class="desImage">
                                <img src="/Images/pexels-julia-volk-5273093.jpg" />
                            </div>
                            <div class="des1"><br>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora ducimus pariatur fuga quae nemo minus nihil expedita nulla voluptates necessitatibus perspiciatis aut culpa fugit non, asperiores velit dicta sit a. Quasi pariatur beatae porro unde qui totam eos sequi accusantium praesentium aspernatur mollitia nobis perferendis nesciunt temporibus quos, ea, error tenetur. Aliquid officiis molestias inventore voluptatum possimus ipsam ea dicta recusandae saepe cumque quia reprehenderit quod, error minima doloremque placeat, dolore libero. Nisi nemo dolor ex, expedita quo quae tenetur dignissimos quibusdam accusantium, consequuntur numquam quam adipisci excepturi iste dolores at debitis minima, eaque totam! Molestiae numquam in nesciunt. Aliquid.
                            </div>
                        </article>

                        <article class = "NaturalDisaster">
                            <div class = 'des2'>
                                <br>
                                <h2>What is Natural Disaster?</h2><br>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique aperiam provident porro dicta non, sunt ipsum voluptatum nesciunt quas nihil, ut est aliquid iste saepe magnam natus rerum neque eos veniam rem alias, suscipit laboriosam quasi? Perferendis quia voluptatibus nisi ducimus eius natus, ipsam dolores eum illum obcaecati, nam quaerat eaque esse, recusandae animi fugiat ut harum deleniti explicabo? Rem exercitationem ea delectus voluptatem blanditiis magnam rerum? Illo consequatur officia unde sint tenetur magnam nesciunt ratione voluptas assumenda praesentium ipsa voluptates odit accusantium similique asperiores cumque reiciendis deserunt, et veritatis eveniet hic nam! Ad, omnis? Nam ex saepe deleniti molestias.
                                <br>
                                <h2>Different Types of Natural Disasters</h2>
                                There are <strong>5 major</strong> types of natural disasters
                                <br>
                                <br>
                                <strong>1. Geological disaster </strong>
                                <br>
                                <br>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quis esse ipsum tempora aperiam quasi minima neque. Ullam, exercitationem? Nobis velit veritatis molestias pariatur! Maiores libero quasi fugit sed minus iusto quod distinctio nesciunt. Quo corrupti itaque illo sunt mollitia?
                                <br>
                                <br>
                                <strong>2. Hydrological disaster </strong>
                                <br>
                                <br>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quis esse ipsum tempora aperiam quasi minima neque. Ullam, exercitationem? Nobis velit veritatis molestias pariatur! Maiores libero quasi fugit sed minus iusto quod distinctio nesciunt. Quo corrupti itaque illo sunt mollitia?
                                <br>
                                <br>
                                <strong>3. Meteorological disaster </strong>
                                <br>
                                <br>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quis esse ipsum tempora aperiam quasi minima neque. Ullam, exercitationem? Nobis velit veritatis molestias pariatur! Maiores libero quasi fugit sed minus iusto quod distinctio nesciunt. Quo corrupti itaque illo sunt mollitia?
                                <br>
                                <br>
                                <strong>4. Space disaster </strong>
                                <br>
                                <br>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quis esse ipsum tempora aperiam quasi minima neque. Ullam, exercitationem? Nobis velit veritatis molestias pariatur! Maiores libero quasi fugit sed minus iusto quod distinctio nesciunt. Quo corrupti itaque illo sunt mollitia?
                                <br>
                                <br>
                                <strong>5. Wildfires </strong>
                                <br>
                                <br>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quis esse ipsum tempora aperiam quasi minima neque. Ullam, exercitationem? Nobis velit veritatis molestias pariatur! Maiores libero quasi fugit sed minus iusto quod distinctio nesciunt. Quo corrupti itaque illo sunt mollitia?
                                <br>
                                <br>
                                <h2>Causes of Natural Disaster</h2>
                                Major Causes of natural disaster are -
                                <ul>
                                    <li>Cause 1</li>
                                    <li>Cause 2</li>
                                    <li>Cause 3</li>
                                    <li>Cause 4</li>
                                    <li>Cause 5</li>
                                    <li>Cause 6</li>
                                </ul>
                                <br>
                            </div>
                        </article>
                    </section>

                    <aside class="side_article">
                        <div class="ads">
                            <img src="/Images/pexels-mali-maeder-54257.jpg" alt="This is advertisment" height="150px" width="90%">
                            <p>Advertisment 1</p>
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="ads">
                            <img src="/Images/pexels-sevenstorm-juhaszimrus-704767.jpg" alt="This is advertisment" height = "150px" width = "90%">
                            <p>Advertisment 2</p>
                        </div>
                    </aside>
                </div>

                <footer>
                </footer>
            </div>
        </div>

</body>
</html>