<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Natural Disaster</title>
    <link href="/static/index.css" rel="stylesheet" type="text/css" media="only screen" />
    <script type = "text/javascript">
        function goToNewPage()
        {
            var url = document.getElementById('list').value;
            if (url != 'none'){
                window.location = url;
            }
        }
    </script>
</head>
<body>
    <div class = ''>
       <div class="topnav" id="myTopnav">
        <a href="/home" class="active">Home</a>
        <a href="/contact">Contact</a>
        <!-- <a href="#Types of Disasters">Types of Disasters</a> -->
        <div class="dropdown">
            <button class="dropbtn">Types of Disasters
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/earthquake">Earthquake</a>
                <a href="/flood">Flood</a>
                <a href="/landslides">Landslides</a>
                <a href="/cyclones">Cyclones</a>
                <a href="/tsunami">Tsunami</a>
            </div>
        </div>
        <a href="/predict">Predict</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
    </div>
        <div class="Container">
                <header>
                    <span>Natural Disaster In India </span>
                </header>
                <nav>
                </nav>
                <div class="content">
                    <br>
                    <section class="main_articles">
                        <article class="Description">
                            <div class="desImage">
                                <img src="/static/Images/pexels-julia-volk-5273093.jpg" />
                            </div>
                            <div class="des1"><br>
                                Natural disasters are unpredictable that can cause major loss to life and property. It may take years to rehabilitate and repair the damages caused by the natural calamities.

                                Hence, it is essential to keep yourself updated regarding the types of natural disasters and the damages.

                                Keep scrolling to learn about major natural disasters in India.
                            </div>
                        </article>

                        <article class = "NaturalDisaster">
                            <div class = 'des2'>
                                <br>
                                <h2>What is Natural Disaster?</h2><br>
                                Natural disasters are catastrophic events that threaten the safety and function of a community. It can damage both public and personal properties significantly.

                                These disasters can range from hurricanes, floods to tsunamis and avalanches. You should know that apart from natural causes, disasters can occur due to anthropogenic causes.

                                Activities like deforestation, agricultural practices, mining, etc., can cause landslides. In addition, wildfires can again damage the natural habitat of plants and animals.

                                Let's check what the types of natural disasters are to understand this concept better.
                                <br>
                                <h2>Different Types of Natural Disasters</h2>
                                There are <strong>5 major</strong> types of natural disasters
                                <br>
                                <br>
                                <strong>1. Geological disaster </strong>
                                <br>
                                <br>
                                Changes in the above or underneath the earth's surface cause geological disasters. The effects of natural disasters due to tectonic plates are unpredictable and beyond human control. Earthquakes, volcanic eruptions, landslides, avalanches, etc., are examples of geological disasters.
                                <br>
                                <br>
                                <strong>2. Hydrological disaster </strong>
                                <br>
                                <br>
                                Hydrological disasters are caused due to sudden changes in the quality or distribution of water below the earth’s surface or atmospheric conditions. Flood and drought both fall under hydrological disasters. These disasters can cause harm to agriculture and properties. Limnic eruption, Tsunami, Volcano, etc., are examples of Hydrological disasters.
                                <br>
                                <br>
                                <strong>3. Meteorological disaster </strong>
                                <br>
                                <br>
                                Meteorological disasters are mainly caused by extreme weather conditions such as drought, snow, and rain. These disasters affect the weather forming process and atmospheric conditions. Examples of meteorological disasters include blizzards, drought, cold waves, tornadoes, cyclonic storms, etc.
                                <br>
                                <br>
                                <strong>4. Space disaster </strong>
                                <br>
                                <br>
                                This includes disasters caused due to asteroids, meteors, and solar flares.
                                <br>
                                <br>
                                <strong>5. Wildfires </strong>
                                <br>
                                <br>
                                Natural disasters like drought and lightning can lead to wildfires. However, many humans also start fires in forests to create space for agricultural land.

                                Now let's check what causes natural disasters. This will help you in implementing the needed disaster management techniques.
                                <br>
                                <br>
                                <h2>Causes of Natural Disaster</h2>
                                Major Causes of natural disaster are -
                                <ul>
                                    <li>Natural phenomenon</li>
                                    <li>Moon activities</li>
                                    <li>Tectonic movement</li>
                                    <li>Soil erosion</li>
                                    <li>Deforestation</li>
                                    <li>Ocean currents</li>
                                    <li>Air pressure</li>
                                    <li>Seismic waves</li>
                                    <li>Pollution</li>
                                    <li>Global warming</li>
                                    <li>Mining</li>
                                    
                                </ul>
                                <br>
                            </div>
                        </article>
                    </section>

<!--                     <aside class="side_article">
                        <div class="ads">
                            <img src="/static/Images/pexels-mali-maeder-54257.jpg" alt="This is advertisment" height="150px" width="90%">
                            <p>Advertisment 1</p>
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="ads">
                            <img src="/static/Images/pexels-sevenstorm-juhaszimrus-704767.jpg" alt="This is advertisment" height = "150px" width = "90%">
                            <p>Advertisment 2</p>
                        </div>
                    </aside> -->
                </div>

                <footer>
                </footer>
            </div>
        </div>

</body>
</html>
