<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Natural Disaster</title>
    <link href="/static/index.css" rel="stylesheet" type="text/css" media="only screen" />
    <script type="text/javascript">
        function goToNewPage() {
            var url = document.getElementById('list').value;
            if (url != 'none') {
                window.location = url;
            }
        }
    </script>
</head>

<body>

    <div class="topnav" id="myTopnav">
        <a href="/home" class="active">Home</a>
        <a href="/contact">Contact</a>
        <!-- <a href="#Types of Disasters">Types of Disasters</a> -->
        <div class="dropdown">
            <button class="dropbtn">Types of Disasters
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/earthquake">Earthquake</a>
                <a href="/flood">Flood</a>
                <a href="/landslides">Landslides</a>
                <a href="/cyclones">Cyclones</a>
                <a href="/tsunami">Tsunami</a>
            </div>
        </div>
        <a href="/predict">Predict</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
    </div>
    <div class="Container">
        <header>
            <span>Predicting Earthquake </span>
        </header>
        <nav>
        </nav>
        <div class="content">
            <br>
            <section class="main_articles">

                <article class="NaturalDisaster">
                    <div class='des2'>
                        <!--                        <img src="/static/Images/Global_Network_-_Connecting_the_Globe_-_Globalization.jpg"
                            alt="Connecting the globe" width="1800vm" length="300vm"> -->
                        <img src="/realtimeEQ.png"
                            alt="/static/Images/Global_Network_-_Connecting_the_Globe_-_Globalization.jpg">

                        <h2>Click the button to get the coordinates of your current loaction.</h2>

                        <button onclick="getLocation()" class="button">Click Here</button>

                        <p id="demo"></p>

                        <script>
                            const x = document.getElementById("demo");

                            function getLocation() {
                                try {
                                    navigator.geolocation.getCurrentPosition(showPosition, fail)
                                } catch {
                                    x.innerHTML = err;
                                }
                            }

                            function showPosition(position) {
                                document.getElementById("latBox").value = position.coords.latitude;
                                document.getElementById("longBox").value = position.coords.longitude;

                                x.innerHTML = "Latitude: " + position.coords.latitude +
                                    "<br>Longitude: " + position.coords.longitude;

                                document.getElementById("predictionForm").submit();
                            }

                            function fail() {
                                alert("Permission Denied");
                            }

                        </script>
                        <h2>To find some other location follow the instructions</h2>
                        <ol>
                            <li>Click on the button below</li>
                            <li>Find the location</li>
                            <li>Left click on that location</li>
                            <li>Now right Click on the location</li>
                            <li>Copy the coordinates</li>
                        </ol>
                        <form action="https://www.google.com/maps/">
                            <input type="submit" value="Google Map" class="button" />
                        </form>
                        <!-- <img src="/static/Images/pexels-wilson-malone-4558211.jpg" alt="Broken Road" width="100%" height="500vm"> -->
                        <br>
                        <h2>Enter the latitude and longitude of the location where you want to predict earthquake.</h2>
                        <form action="/pred" method="POST" , id="predictionForm">
                            <p>Latitude: <input style=height:30px; font-size:22pt; type="text" name="latitude"
                                    placeholder="Enter Latitude" size="30m" id="latBox" , value="{{curLat}}"></p>
                            <p>Longitude: <input style=height:30px; font-size:22pt; type="text" name="longitude"
                                    placeholder="Enter Longitude" size="30vm" id="longBox" , value="{{curLong}}"></p>
                            <input type="submit" value="Submit" class="button">
                        </form>
                        <p>
                            Prediction - 
                            <br>
                            Magnitude : {{ _mag }}
                            <br>
							Depth : {{ _depth }}
                        </p>
                        <br>
                    </div>
                </article>
            </section>

            <!-- <aside class="side_article">
                <div class="ads">
                    <img src="/static/Images/pexels-mali-maeder-54257.jpg" alt="This is advertisment" height="150px"
                        width="90%">
                    <p>Advertisment 1</p>
                </div>
                <br>
                <br>
                <br>
                <br>
                <div class="ads">
                    <img src="/static/Images/pexels-sevenstorm-juhaszimrus-704767.jpg" alt="This is advertisment"
                        height="150px" width="90%">
                    <p>Advertisment 2</p>
                </div>
            </aside> -->
        </div>
        <footer>
        </footer>
    </div>

</body>

</html>
