<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Natural Disaster</title>
    <link href="/static/index.css" rel="stylesheet" type="text/css" media="only screen" />
    <script type = "text/javascript">
        function goToNewPage()
        {
            var url = document.getElementById('list').value;
            if (url != 'none'){
                window.location = url;
            }
        }
    </script>
</head>
<body>
        
    <div class="topnav" id="myTopnav">
        <a href="/templates/index.html" class="active">Home</a>
        <a href="/templates/contact.html">Contact</a>
        <!-- <a href="#Types of Disasters">Types of Disasters</a> -->
        <div class="dropdown">
          <button class="dropbtn">Types of Disasters
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/templates/earthquake.html">Earthquake</a>
            <a href="/templates/flood.html">Flood</a>
            <a href="/templates/landslides.html">Landslides</a>
          </div>
        </div>
        <a href="/templates/predict.html">Predict</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
    </div>
    <div class="Container">
            <header>
                <span>Predicting Earthquake </span>
            </header>
            <nav>
            </nav>
            <div class="content">
                <br>
                <section class="main_articles">

                    <article class = "NaturalDisaster">
                        <div class = 'des2'>
                            <img src="/static/Images/pexels-wilson-malone-4558211.jpg" alt="Broken Road" width="100%" height="500vm">
                            <br>
                            <h2>Enter the latitude and longitude of the location where you want to predict earthquake.</h2>
                            <form action="/pred" method="POST">
                                <p>Latitude: <input type="text" name = "latitude" placeholder="Enter Latitude"></p>
                                <p>Longitude: <input type="text" name = "longitude" placeholder="Enter Longitude"></p>
                                <input type="submit" value = "Submit">
                        </form>
                              <p>
                                  Prediction : {{ my_prediction }}
                              </p>
                        </div>
                    </article>
                </section>

                <aside class="side_article">
                    <div class="ads">
                        <img src="/static/Images/pexels-mali-maeder-54257.jpg" alt="This is advertisment" height="150px" width="90%">
                        <p>Advertisment 1</p>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="ads">
                        <img src="/static/Images/pexels-sevenstorm-juhaszimrus-704767.jpg" alt="This is advertisment" height = "150px" width = "90%">
                        <p>Advertisment 2</p>
                    </div>
                </aside>
            </div>
            <footer>
            </footer>
        </div>

</body>
</html>