<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Natural Disaster</title>
    <link href="/static/index.css" rel="stylesheet" type="text/css" media="only screen" />
</head>

<body>

    <div class="topnav" id="myTopnav">
        <a href="/templates/index.html" class="active">Home</a>
        <a href="/templates/contact.html">Contact</a>
        <!-- <a href="#Types of Disasters">Types of Disasters</a> -->
        <div class="dropdown">
            <button class="dropbtn">Types of Disasters
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/templates/earthquake.html">Earthquake</a>
                <a href="/templates/flood.html">Flood</a>
                <a href="/templates/landslides.html">Landslides</a>
                <a href="/templates/cyclones.html">Cyclones</a>
                <a href="/templates/tsunami.html">Tsunami</a>
            </div>
        </div>
        <a href="/templates/predict.html">Predict</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
    </div>
    <div class="Container">
        <header>
            <span>Tsunami </span>
        </header>
        <nav>
        </nav>
        <div class="content">
            <br>
            <section class="main_articles">

                <article class="NaturalDisaster">
                    <div class='des2'>
                        <br>
                        <h2>What causes tsunami?</h2><br>
                        The Earth's lithosphere is broken up into a bunch of discrete pieces, called plates that move around the surface of the planet. There are seven or eight major plates (depending on how they are defined) and many minor plates.  This motion is driven by the flow of the mantle rock beneath the plates and by the forces plates exert at their boundaries where they touch each other.  Earthquakes happen when plates move with respect to each other because of the friction and stress at the edges of plates prevents them from slipping smoothly at their boundaries. 
                        <br>
                        <h2>Do's and Don'ts</h2>
                        <strong>1. If you are in an area at risk from tsunamis</strong>
                        <br>
                        <br>
                        <ul>
                            <li> You should find out if your home, school, workplace, or other frequently visited locations are in tsunami hazard areas.</li>
                            <li>Discuss tsunamis with your family. Everyone should know what to do in a tsunami situation. Discussing tsunamis ahead of time will help reduce fear and save precious time in an emergency. Review flood safety and preparedness measures with your family. </li>
                            <li>Use a Weather Radio or stay tuned to a local radio or television station to keep informed of local watches and warnings.</li>
                            <li>If your children's school is in an identified inundation zone, find out what the school evacuation plan is. Find out if the plan requires you to pick your children up from school or from another location. Telephone lines during a tsunami watch or warning may be overloaded and routes to and from schools may be jammed.</li>
                            <li>Practice your evacuation routes. Familiarity may save your life. Be able to follow your escape route at night and during inclement weather. Practicing your plan makes the appropriate response more of a reaction, requiring less thinking during an actual emergency situation..</li>
                            <li>Talk to your insurance agent.Homeowners' policies may not cover flooding from a tsunami. Ask the Insurance Agent about the benefits from Multi-Hazard Insurance Schemes.</li>
                        </ul>
                        <br>
                        <br>
                        <strong>2. If you are visiting an area at risk from tsunamis </strong>
                        <br>
                        <br>
                        <p>The actions that need to be taken in the event of a cyclone threat can broadly be divided into :</p>
                        <ul>
                            <li>You should avoid building or living in buildings within 200 meters of the high tide coastline.</li>
                            <li>A list will help you remember anything that can be swept away by tsunami water.</li>
                            <li>Elevate coastal homes.</li>
                            <li>Most tsunami waves are less than 3 meters. Elevating your house will help reduce damage to your property from most tsunamis.</li>
                        </ul>
                        <br>
                        <br>
                        <strong>3. When the Cyclone starts</strong>
                        <br>
                        <br>
                        <ul>
                            <li> Listen to the radio (All India Radio stations give weather warnings).</li>
                            <li> Keep monitoring the warnings. This will help you prepare for a cyclone emergency.</li>
                            <li> Pass the information to others.</li>
                            <li>Ignore rumours and do not spread them; this will help to avoid panic situations.</li>
                            <li>Believe in the official information.</li>
                            <li>When a cyclone alert is on for your area continue normal working but stay alert to the radio warnings.</li>
                            <li>Stay alert for the next 24 hours as a cyclone alert means that the danger is within 24 hours.</li>
                        </ul>
                        <br>
                        <br>
                        <strong>4. What to do after a Tsunami </strong>
                        <br>
                        <br>
                        <ul>
                            <li>Check yourself for injuries and get first aid if necessary before helping injured or trapped persons. </li>
                            <li>The Tsunami may have damaged roads, bridges, or other places that may be unsafe.</li>
                            <li>When re-entering buildings or homes, use extreme caution.Tsunami-driven floodwater may have damaged buildings where you least expect it. Carefully watch every step you take.</li>
                            <li>Watch out for wild animals, especially poisonous snakes that may have come into buildings with the water. Use a stick to poke through debris. Tsunami floodwater flushes snakes and animals out of their homes.</li>
                            <li>Watch for loose plaster, drywall, and ceilings that could fall.</li>
                            <li>The Tsunami may have damaged roads, bridges, or other places that may be unsafe.</li>
                            <li>Wear long pants, a long-sleeved shirt, and sturdy shoes.The most common injury following a disaster is cut feet.</li>
                        </ul>
                        <br>
                    </div>
                </article>
            </section>

            <aside class="side_article">
                <div class="ads">
                    <img src="/static/Images/pexels-mali-maeder-54257.jpg" alt="This is advertisment" height="150px"
                        width="90%">
                    <p>Advertisment 1</p>
                </div>
                <br>
                <br>
                <br>
                <br>
                <div class="ads">
                    <img src="/static/Images/pexels-sevenstorm-juhaszimrus-704767.jpg" alt="This is advertisment"
                        height="150px" width="90%">
                    <p>Advertisment 2</p>
                </div>
            </aside>
        </div>
        <footer>
        </footer>
    </div>

</body>

</html>